body{
    background-color: black;
    color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

#title-wrapper{
    text-align: center;
}

#main-wrapper{
    width:800px;
    position: relative;
    margin:auto;
}
.two-columns{
    display:flex;
}

.left{
    width:50%;
}
.right{
    width: 50%;
}
#footer{
    text-align: center;
    font-size: 0.7em;
}

.headline{
    font-size:4em;
}

.red{
    color:coral
}

.yellow{
    color:gold
}

.green {
    color:green
}
h1{
    color:#1961e6;
}